.genre-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.genre-form-row {
  display: flex;
  gap: 1rem;
}

.genre-form-error {
  font-size: small;
  color: #009999;
  margin-top: 0.5rem;
}
