header {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 4rem;
}

.header-left {
  width: 3.75rem;
}

.header-left img {
  width: 3.75rem;
}

.main-menu {
  font-size: large;
}
